<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  
    <meta name = "viewport" content="width=device-width, initial-scale" >
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
    
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/logos.png' %}" alt="NiceAdmin">
            <span class="d-none d-lg-block"></span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        <!-- End Logo -->
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="btn btn-success" href="{% url 'home' %}" type="submit">
              <i class="bi bi-menu-button-wide"></i><span>Home</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        </li>
            <li class="nav-item">
            <a class="btn btn-success" href="{% url 'logout' %}" type="submit">
              <i class="bi bi-menu-button-wide"></i><span>Logout</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" href="{% url 'profile' %}" type="submit">
              <i class="bi bi-menu-button-wide"></i><span>profile</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-success" href="{% url 'home' %}" type="submit">
            <i class="bi bi-menu-button-wide"></i><span>Home</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      </li>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" href="{% url 'signup' %}" type="submit">
              <i class="bi bi-menu-button-wide"></i><span>Sign up</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="{% url 'login' %}" type="submit">
            <i class="bi bi-menu-button-wide"></i><span>Login</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      </li>
      
        {% endif %}
        
      </div>
        
      </header>
    <div>
        <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">{{message}}</div>

            {% endfor %}
        {% endif %}
    </div>
    {% block content %}


    
    {% endblock content %}
</div>
</body>
</html>